.swiper{
}

.swiper-gallery-wrapper {
	height: 400px;
	background-color: red;
	margin:0 auto;
	display:	inline-block;
}

.swiper-gallery-wrapper .swiper-item {
	background-color: blue;
	float: left;
	height: 250px;
	margin: 0;
	margin-right: 30px;
	position:relative;
	width: 200px;
}

.hidden {
	display:none;	
}